@font-face { 
    font-family: "overwatch"; 
    src: url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") 
        format('woff'); 
    }

@font-face { 
    font-family: "blizz"; 
    src: url("http://us.battle.net/forums/static/fonts/blizzard/blizzard-bold.woff") 
        format('woff'); 
    }

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor:url("/not-overwatch/img/etc/cursor.png"),auto;
}

body{
    background-image:url("/not-overwatch/img/wlppr/wlpprtile.jpg");
}

img.preload {
    display: none; 
}