@font-face {
    font-family: 'BigNoodle';
    src: url('/not-overwatch/font/big_noodle_titling.tff');
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body{
    background-image:url("/not-overwatch/img/wlppr/wlpprtile.jpg");
}