@font-face { 
    font-family: "Overwatch"; 
    src: url("\not-overwatch\font\fontbignoodletoo.woff") 
        format('woff'); 
    }

canvas {
    font-family: 'BigNoodle';
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body{
    background-image:url("/not-overwatch/img/wlppr/wlpprtile.jpg");
}